body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}
.wrapper {
  margin: 0 50px;
  width: 100 %;
}
.header {
  height: 100px;
}
.header > img {
  width: 100px;
  height: 100px;
}
.section {
  margin-bottom: 50px;
}
.title {
  font-family: sans-serif;
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}
.movies-list {
  display: flex;
  overflow-x: auto;
}
.movies-list::-webkit-scrollbar {
  display: none;
}
.movies-list img {
  width: 220px;
  object-fit: contain;
  object-position: center;
}
